body {
    display: flex;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: hidden;
}

.main-content {
    overflow: hidden;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.del-button {
    position: absolute;
    display: none;
    /*font-size: 30px;*/
    /*height: 40px;*/
    /*width: 30px;*/
}

.toolboxSwitches {
    position:absolute;
    bottom:20px;
    right:20px;
}