text {
    font: 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

circle {
    fill: #ccc;
}

.node:hover circle {
    fill: #FFA500;
}

/*.node path {*/
    /*fill: #FFEECA;*/
    /*cursor: pointer;*/
    /*stroke: #ccc;*/
    /*stroke-width: 1px;*/
/*}*/

.B-type path {
    fill: #1992FC;
    stroke: none;
}

.B-object path {
    fill: #B1DDF0;
    stroke: #000;
    stroke-width: 1px;
}

.B-valuation path {
    fill: #FAD7AC;
    stroke: #000;
    stroke-width: 1px;
}

.B-relation path {
    fill: #7FE01F;
    stroke: none;
}

.B-attribute path {
    fill: #F0A30A;
    stroke: none;
}

.Some_objects path {
    fill: #B1DDF0;
    stroke: #000;
    stroke-width: 1px;
}

.hasError path {
    stroke: #f00
}

path.selected {
    fill: #FFC125 !important;
}

.selected path {
    fill: #FFC125 !important;
}

.linklabelholder path {
    opacity: 0.0;
}

.linklabelholder text {
    font-size: 14;
    fill: #777777
}

.typelabel text {
    fill: #cccccc;
}

text.vocabPath {
    font-size: 14;
    font-weight: bold;
}

.vocabPath rect {
    stroke-width:1;
    stroke: #000000;
}

.toolheading {
    font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: grey;
    font-weight: bold;
}

.toolbox {
    width: 290px;
    height: 330px;
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: white;
}

.canvas {
    margin: 0px;
    padding: 0px;
    background-color: ghostwhite;
}